<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We are Wiersma Brothers, </h2>
                <p class="text-faded">three brothers specialised in the craft of visual storytelling. Our affinity with film drives us to make compelling, creative and well-tailored videos. We combine our backgrounds in product design, computer science and event management to quickly understand and translate your needs into powerful media.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Let's collaborate!</a>
            </div>
        </div>
    </div>
</section>
