<section id="footer" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-2">
                <h3>Wiersma Brothers</h3>
                <p>We are Wiersma Brothers, three brothers specialised in the craft of visual storytelling.</p>
            </div>
            <div class="col-lg-3 col-lg-offset-1">
                <h3>Address</h3>
                <p>Wiersma Brothers<br />
                    Aerent Bruunstraat 3<br />
                    2321ED Leiden</p>
                <h3>Email</h3>
                <p><a href="mailto:wiersmabrothers@gmail.com">wiersmabrothers@gmail.com</a></p>
            </div>
            <div class="col-lg-3">
                <h3>KVK No.</h3>
                <p>59405589</p>
            </div>
        </div>
    </div>
</section>