<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">People we've worked with</h2>
                <hr class="primary" />
            </div>
            <div class="col-lg-3 col-sm-6"><img src="img/portfolio/tudelft.png" class="img-responsive float-right"></div>
            <div class="col-lg-3 col-sm-6"><img src="img/portfolio/vu.png" class="img-responsive float-right"></div>
            <div class="col-lg-3 col-sm-6"><img src="img/portfolio/yesdelft.png" class="img-responsive mx-auto"></div>
            <div class="col-lg-3 col-sm-6"><img src="img/portfolio/nsv.png" class="img-responsive"></div>
        </div>
    </div>
</section> 