<section id="portfolio" class="bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Some of our work</h2>
                <hr class="primary"/>
            </div>
            <div class="col-lg-6 col-sm-6 text-right">
                <iframe src="https://player.vimeo.com/video/196879232" frameborder="0" title="EWI season's greeting" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="iframe-embed" data-aspectratio="0.562962962962963" style="width: 646px; height: 363.6740740740741px; opacity: 1; visibility: visible;"></iframe>
            </div>
            <div class="col-lg-6 col-sm-6">
                <iframe src="https://player.vimeo.com/video/190009436" frameborder="0" title="Industrial Design Alumni" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="iframe-embed" data-aspectratio="0.562962962962963" style="width: 646px; height: 363.6740740740741px; opacity: 1; visibility: visible;"></iframe>
            </div>
            <div class="col-lg-6 col-sm-6 text-right">
                <iframe src="https://www.youtube.com/embed/yPS6FbNuY_I?feature=oembed" frameborder="0" allowfullscreen="" class="iframe-embed" data-aspectratio="0.562962962962963" style="width: 646px; height: 363.6740740740741px; opacity: 1; visibility: visible;"></iframe>
            </div>
            <div class="col-lg-6 col-sm-6">
                <iframe src="https://player.vimeo.com/video/273485382?app_id=122963" frameborder="0" title="EEMCS top research" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="iframe-embed" data-aspectratio="0.562962962962963" style="width: 646px; height: 363.6740740740741px; opacity: 1; visibility: visible;"></iframe>
            </div>
            <div class="col-lg-6 col-sm-6 text-right">
                <iframe src="https://player.vimeo.com/video/169772583" frameborder="0" title="E-Forum 2016" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="iframe-embed" data-aspectratio="0.562962962962963" style="width: 646px; height: 363.6740740740741px; opacity: 1; visibility: visible;"></iframe>
            </div>
            <div class="col-lg-6 col-sm-6">
                <iframe src="https://player.vimeo.com/video/150764291" frameborder="0" title="TU Delft Sportsengineering" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="iframe-embed" data-aspectratio="0.562962962962963" style="width: 646px; height: 363.6740740740741px; opacity: 1; visibility: visible;"></iframe>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Want to see more?</h2>
            <a href="https://vimeo.com/wiersmabrothers" class="btn btn-default btn-xl wow tada" target="_blank">More on Vimeo</a>
        </div>
    </div>
</aside>
