<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What we do</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-film wow bounceIn text-primary"></i>
                    <h3>Videos</h3>
                    <p class="text-muted">Short films, promotional videos, educational videos or live registration: we've done it all and we're here to help.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Photography</h3>
                    <p class="text-muted">We aim to capture the best moments of your wedding, event, or portrait shoot in the best way possible.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Design</h3>
                    <p class="text-muted">Get your idea or product communicated with designs that serve to function.</p>
                </div>
            </div>
        </div>
    </div>
</section>
